*.o
*.elf
*.bin
*.hex
*.map
*.d
*.out
compile_commands.json
.clangd
.vscode/
build/
.cache/
tests/test_trace.c
tests/logs/
docs/html/
tests/venv/
tests/config/venv/
tests/tools/__pycache__
generated/
.tcl-lsp/